body { margin: 0; background-image: url("https://images.pexels.com/photos/1093913/pexels-photo-1093913.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); background-repeat: no-repeat; }

ul { list-style-type: none; }

.container { text-align: center; color: #fff; }

.board { width: 100%; margin: 0 auto; }

.create-column { background-color: green; }

.column-container { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0 auto; }

.column-container > div { width: 33.3%; }

.card { background-color: #fff; border-radius: 5%; }

.card p { color: #000; }

.btn-delete { background-color: red; }

.add-card { background-color: green; }
